.digit {
    width: 50px;
    height: 50px;
    background-color: #f00;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: #fff;
    margin: 10px;
}

.operator {
    width: 50px;
    height: 50px;
    background-color: #00f;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: #fff;
    margin: 10px;
}

.row {
    margin: 10px;
    text-align: center;
}

#result {
    width: 350px;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
}

.title {
    
}