<app-first name="React"></app-first>

<main class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Welcome to Angular</h1>
      </div>
    </div>
  </div>
</main>

<app-first name="Vue"></app-first>

<app-first></app-first>


<hr />

<app-enter-name (valueChanged)="setFirstName($event)"></app-enter-name>
<app-enter-name (valueChanged)="setLastName($event)" label="Enter your lastname"></app-enter-name>

<app-second [firstName]="ime" [lastName]="prezime"></app-second>

<router-outlet />
